# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env
.env.*

# Virtualenv
venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-folder.txt

# VS Code
.vscode/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node (if using frontend tools)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/


#mariadb
mariadb/