DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=devdb
DB_USER=devuser
DB_PASSWORD=devpass
DB_HOST=mariadb
DB_PORT=3306


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass

